.post-item-img {
  height: 215px;
  width: 360px;
}

.top2-post {
  height: 372px;
  width: 100% auto;
}

.format-text * {
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #3d455c;
}

.orther-post-img {
  height: 180px;
}

#top {
  width: 50px; height: 50px; 
  position: fixed; bottom: 10px; right: 10px;
  cursor: pointer; 
  background-color: #cccccc;
  z-index: 10;
}

.icon-back-to-top {
  font-size: 5rem;
  margin-left: 20%;
}

.main-post img {
  max-width: 100% !important;